services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=billing'
      - 'POSTGRES_PASSWORD=password'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
    volumes:
      - ./src/main/resources/db/migrations/init.sql:/docker-entrypoint-initdb.d/init.sql:ro